body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-align: center;
    background: url(../img/background-img.jpg) no-repeat fixed top;
    background-size: 100%;
}

a:hover {
    text-decoration: none;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}



/*top*/
.index-top {
    position: fixed;
    width: 100%;
    height: 6rem;
    color: white;
    font-size: 2.5rem;
    background-color: #2C3038;
    z-index: 1;
}

.top-logo {
    position: absolute;
    left: 0;
    width: 20rem;
    height: 6rem;
}

.top-logo img {
    display: block;
    height: 100%;
}

.top-menu {
    position: absolute;
    right: 0;
    height: 6rem;
}

.top-menu ul {
    height: 6rem;
    padding-left: 0;
    margin: 0;
    margin-right: 3rem;
}

.top-menu li,
.top-logo h1 {
    display: block;
    float: left;
    /*width: 12rem;*/
    height: 6rem;
    margin: 0 3rem;
    line-height: 6rem;
    text-align: center;
    vertical-align: bottom;
}

.top-search {
    position: absolute;
    left: -20rem;
    top: 1.2rem;
    height: 0;
}

.top-search input {
    width: 15rem;
    /*float: left;*/
    border-radius: 4px 0 0 4px;
    float: left;
}
.top-search button {
    color: #666;
    /*float: left;*/
    border-radius: 0 4px 4px 0;
    float: left;
}

.top-menu li a {
    color: white;
}
    .top-menu li a:hover {
        color: #CCC;
    }

.top-menu-close {
    width: 6rem;
    height: 6rem;
    padding: .6rem 0;
    margin-right: 2rem;
}

.bar {
    height: .6rem;
    margin: .7rem;
    border-radius: 3px;
    background-color: #DDD;
}
    .top-menu-close:hover .bar {
        background-color: #FFF;
    }

.top-menu-open {
    overflow: hidden;
    display: none;
}
.top-menu-close {
    display: none;
}



/*main*/
.index-main {
    margin-top: 6rem;
}

/*main_left*/
.index-main-left {
    height: 100vh;
    background-color: rgba(204,204,204,.8);
}

.left-list {
    height: 20rem;
}

.left-list-0 {
    padding-top: 5rem;

}

.left-list ol {
    padding: 0;
    margin: 0;
}

/*main_right*/
.index-main-right {
    height: 100vh;
    background-color: rgba(247,247,247,.8);
}



/*media*/
@media screen and (max-width:1200px) and (min-width:800px) {
    body {
        background-size: 150%;
    }
}
@media screen and (max-width:800px) {
    body {
        background-size: 300%;
    }
}
@media screen and (max-width:1000px) {
    .top-menu ul {
        height: auto;
        margin: 0;
    }
    .top-menu li {
        width: 100vw;
        margin: 0;
    }
    .top-menu-open {
        width: 100vw;
        position: absolute;
        top: 6rem;
        right: 0;
        background-color: #2C3038;
        overflow: hidden;
        display: none;
    }
    .top-menu-close {
        display: block;
    }
}
@media screen and (min-width:1000px) {
    .top-menu-open {
        display: block;
    }
}
@media screen and (max-width:500px) {
    .top-logo {
        display: none;
    }
}
